<div class="panel panel-default panel-info">
    <div class="panel-heading">
        Data source
    </div>
    <div class="panel-body">
        <div class="alert alert-warning" data-ng-show="vm.error">{{vm.error}}</div>
        <div class="kan-sample-description">

            <p>The samples shown below are automatically loaded with demo data. Use the form below to load real data.</p></div>
        <div class="row ">
            <div class="col-xs-12" >
                <button class="btn btn-info" data-ng-click="vm.dataFormType = 'demo'">Demo data</button>
                <button class="btn btn-info" data-ng-click="vm.dataFormType = 'live'">Live data</button>
            </div>
        </div>

        <div class="row mt">
            <div class="col-xs-12" data-ng-show="vm.dataFormType == 'demo'">
                <form class="form-horizontal kan-filter-form " novalidate data-ng-submit="vm.submit('demo')">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="form-control-static kan-title">Demo server (recorded responses)</p>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-12">-->
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox" data-ng-model="vm.filters.top10"-->
                                           <!--data-ng-change="vm.submit('demo')"> Take only 10 values per series-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-warning">Load demo data</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12" data-ng-show="vm.dataFormType == 'live'">
                <form class="form-horizontal kan-filter-form " novalidate data-ng-submit="vm.submit('live')">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="form-control-static kan-title">Kaltura API (live)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Partner KS</label>
                        <div class="col-sm-9">
                            <input type="text" data-ng-model="vm.data.ks" class="form-control" placeholder="KS">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-warning">Load live data</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
