
    .side-menu {


        li {
            padding-left: 20px;
            position: relative;
            span {
                cursor: pointer;
                a {
                    color: inherit;
                    text-decoration: none;
                    outline: 0;
                }
            }
            &.active {
                &:before {
                    content: '';
                    background: blue ;
                    height: 100%;
                    width: 7px;
                    display: block;
                    position: absolute;
                    left: 8px;
                }
            }
        }

        ul {
            list-style: none;
            margin-top: 5px;
            font-size: $medium-font;
            li {
                padding-left: 20px;
                span {
                    &:hover {
                        text-shadow: 1px 1px 1px #ADACAC;
                    }
                }
            }
        }


    }
