@import 'globals';
@import 'theme/bootstrap-overrides';
@import 'dashboard/shell';
@import 'ui/ui-charts';
@import 'samples/samples';
@import 'account-usage/account-usage';
@import 'k-ui-common/k-ui-common';

 body
{
    background: #f0eeef;
     min-width: 960px;
}




.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date
{
    color: #F8F8F8 !important;
    background: #fff !important;
    visibility: hidden;
}

.daterangepicker td.in-range, .daterangepicker td.active, .daterangepicker td.active:hover{
    background: #E4EEF7 !important;
    color: black !important;
}

.daterangepicker td.end-date, .daterangepicker td.end-date:hover{
    color: black !important;

}

.daterangepicker td.active, .daterangepicker td.active:hover
{
    font-weight: bolder;
}

