<div class="row" k-status-container>
    <div class="col-xs-12">
        <div data-ng-repeat="section in vm.reportConfig.sections" >
            <div class="row">
                <div class="col-xs-12">
                    <div data-ng-if="vm.shouldShow(section, 'filters')"  k-options="section.options" data-kau-filters-section></div>
                    <div data-ng-if="vm.shouldShow(section,'barChart')" k-options="section.options" data-kau-bar-chart-section></div>
                    <div data-ng-if="vm.shouldShow(section,'table')" k-options="section.options" data-kau-table-section></div>
                    <div data-ng-if="vm.shouldShow(section,'diagnostic')" k-options="section.options" data-kau-diagnostic-section></div>
                    <div data-ng-if="vm.shouldShow(section,'status')" k-options="section.options" data-kau-status-section></div>
                </div>
            </div>
        </div>
    </div>
</div>
