<div>
    <h1>Kaltura Analytics 2.0 Charts</h1>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Overview
        </div>
        <div class="panel-body">


        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            D3 charts libraries
        </div>
        <div class="panel-body">


        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Where to start?
        </div>
        <div class="panel-body">


        </div>
    </div>

</div>

