<div>
    <h1>Kaltura Analytics 2.0 Charts</h1>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            About Kaltura Analytics 2.0 charts implementation
        </div>
        <div class="panel-body">
            <p>Kaltura Analytics 2.0 uses <a href="http://d3js.com" target="_blank">D3</a> library to create and manipulate charts.</p>
            <p>D3 library allows you to bind arbitrary data to a Document Object Model (DOM). You can use D3 to create an interactive SVG bar chart with smooth transitions and interaction.</p>
            <p>D3 is huge library not aiming to charts only. We therefore use <a href="http://nvd3.org/index.html" target="_blank">NVD3 library</a>. NVD3 is implementation on-top of D# that create re-usable charts and chart components for d3.js without taking away the power of d3.js. </p>
            <p>NVD3 is written in pure javascript while our application uses Angular.JS. To have a natural experience we use <a href="http://nvd3-community.github.io/nvd3/" target="_blank">Angular-NVD3</a> library.</p>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Where to start?
        </div>
        <div class="panel-body">
            <ul>
                <li>Explore Kaltura Analytics 2.0 charts using the side navigation bar.</li>
                <li>Play with <a href="http://krispo.github.io/angular-nv3" target="_blank">angular-nv3</a> superb live edit section to discover more features that can be added.</li>
                <li>Since we are using angular-nvd3 and this library uses json based configuration, you can modify our charts configuration with anything you see in the live edit section and it will affect our application charting.</li>
            </ul>

        </div>
    </div>

</div>

