<div>
    <h1>Pie chart samples</h1>
    <div class="alert alert-warning" data-ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

    <p>Examples for pie charts supported in Kaltura Analytics 2.0 as described in issue #<a href="https://kaltura.atlassian.net/browse/PLAT-4903" target="_blank">PLAT-4903</a></p>


    <div kan-sample-data-loader k-load-data="vm.loadData(context);"></div>


    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Pie chart
        </div>
        <div class="panel-body">
            <div class="kan-sample-description">
                <p>This sample demonstrate horizontal pie series chart using the same labels.
            </div>
            <div class="kan-sample-description" data-ng-show="vm.samplesDescription">
                <pre>{{vm.samplesDescription}}</pre>
            </div>
            <hr>
            <uib-tabset type="pills">
                <uib-tab heading="Chart">
                    <div class="kan-no-data" data-ng-show="vm.loadingData"> -Loading data -
                    </div>
                    <div class="kan-no-data" data-ng-hide="vm.loadingData || vm.samples.sample1.data">- No chart data found for this
                        sample (use 'Data Source' widget above to invoke data request) -
                    </div>


                    <nvd3 data-options="vm.samples.sample1.options" data-data="vm.samples.sample1.data"
                          data-api="vm.samples.sample1.api" data-config="vm.config"></nvd3>
                </uib-tab>
                <uib-tab heading="Configuration">
                    <pre class="kan-json-code">{{vm.samples.sample1.options | json}}</pre>
                </uib-tab>
                <uib-tab heading="Data">
                    <pre class="kan-json-code">{{vm.samples.sample1.data | json}}</pre>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>



</div>
</div>

