<div>
    <h1>Kaltura Analytics 2.0 Maps</h1>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            About Kaltura Analytics 2.0 maps implementation
        </div>
        <div class="panel-body">
            <p>Kaltura Analytics 2.0 uses <a href="http://leafletjs.com/index.html" target="_blank">LeafLet</a> library together with <a href="http://www.openstreetmap.org/" target="_blank">Open street map</a> to show map with annotations to the user.</p>
            <p>Leaflet is the leading open-source JavaScript library for friendly interactive maps. Leaflet is designed with simplicity, performance and usability in mind. It works efficiently across all major desktop and mobile platforms.</p>
            <p>Leaflet is written in pure javascript while our application uses Angular.JS. To have a natural experience we use <a href="http://tombatossals.github.io/angular-leaflet-directive/#!/" target="_blank">angular-leaflet-directive</a> library.</p>
        </div>
    </div>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Where to start?
        </div>
        <div class="panel-body">
            <ul>
                <li>Explore Kaltura Analytics 2.0 maps support using the side navigation bar.</li>
                <li>Explore The following samples to discover more features:
                <ul>
                    <li> <a href="http://leafletjs.com/examples.html" target="_blank">LeafLet Tutorials</a> </li>
                    <li> <a href="http://tombatossals.github.io/angular-leaflet-directive/#!/examples/simple-map" target="_blank">angular-leaflet-diretive examples</a> </li>
                    <li> <a href="http://tombatossals.github.io/angular-leaflet-directive/examples/0000-viewer.html#/basic/first-example" target="_blank">angular-leaflet-directive community examples</a> </li>
                </ul>
                </li>

            </ul>
        </div>
    </div>

</div>

