<div class="row">
    <div class="jumbotron">
        <h1>Welcome to kAnalony!</h1>
        <p class="lead">We setup the following components, just for you:</p>
        <ul>
            <li><b>Angular.JS</b> mvc javascript framework including ui-routing</li>
            <li><b>Bootstrap UI</b> ui framework</li>
            <li><b>Node.JS and Grunt</b> support for development</li>
            <li><b>Browserify implementation</b> bundle all scripts(both applicative and vendors) into one cozy file</li>
            <li><b>Awesome project structure</b> follow community best practices and standards</li>
            <li><b>Bower & Node.JS</b> third party dependencies management</li>
            <li><b>Sass preprocessing</b> <span class="sample-scss-preprocessor">preprocessor</span> that adds nested rules, variables, mixins and functions, selector inheritance, and more to CSS </li>
        </ul>
    </div>
</div>
