<div class="container">
    <div class="header">
        &nbsp
    </div>
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to kAnalony!</h1>
            <p class="lead">We setup the following components, just for you:</p>
            <ul>
                <li><b>Angular.JS</b> libraries including ui-routing</li>
                <li><b>Bootstrap UI</b> implementation</li>
                <li><b>Node.JS and Grunt</b> support for development</li>
                <li><b>Browserify implementation</b> for bundling up all the scripts(both applicative and vendors)</li>
                <li><b>Awesome project structure</b> following community best practices and standards</li>
                <li><b>Bower & Node.JS</b> for dependencies management</li>
            </ul>
        </div>
    </div>
</div>
